html{
	font-family: monospace;
	font-size: 14px; 
	justify-content: center;
	align-content: center;
}
.wrap{
	width: 100%;
	top:0px; 
	left: 0px;
	margin:0 auto;
	justify-content: center;
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: white;
}

.container{
	margin:  0 auto;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

button{
	background-color: transparent;
	border: white solid 3px;
	border-radius: 15px;
	text-transform: uppercase;
	padding: 5px;
}

.header{
	z-index: 5;
	background-color: black;
	color: white;
	font-size: 1rem;
	display: flex;
	padding-left: 30px;
	position: relative;
	margin:0px;
	border-left-color: rgba(0, 0, 0, 0.3);
}
.header h1{
	text-transform: uppercase;
	font-size: 2rem;
}

.header p{
	vertical-align: center;
	margin-left: 30px;
	margin-top: 25px;
}
.header a{
	text-decoration: none ;
	color: white;
}

.intro-collection{
	z-index: 5;
	margin:0px;
	padding: 40px;
	height: 300px;
	width: 30%;
	background-color: black;
	color:white;
	text-transform: uppercase;
	-webkit-clip-path: polygon(100% 0, 100% 48%, 25% 100%, 0 78%, 0 0);
	clip-path: polygon(100% 0, 100% 48%, 25% 100%, 0 78%, 0 0);
	position: relative;

}
.intro-collection p{
	margin-top: -150px;

}
.intro-collection h1{
	font-size: 1.5rem;
	width: 150px;
	height: 50px;
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
}
.intro-collection button{
	position: absolute;
	margin-top: 30px;
	color: white;	
}

.main-img{
	position: absolute;
	width: 100%;
	height:300px;
	top:78px; 
	left: 50px;
	overflow: hidden;
	background-image: url("./k-kloss.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	/*background-position:left;*/
	
	}
.promo-container{

	margin:  0 auto;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	color: black;
	text-align: center;
}

.side-promo{
	position: relative;

	width: 50%;
	justify-content: center;
}
.side-promo h1{	
	width: 50%;
	font-size: 1.2rem;
	text-transform: uppercase;
}
.side-promo button{
	border-color: black !important;
	margin-bottom: 20px;

}
.side-promo img{
	width: 100%;
}
.side-promo p{
	margin-top: 0px;
	font-weight: light;
}
.promo{
	background-color: red;
	width: 50%;
}